services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: buy_local_app
        restart: unless-stopped
        working_dir: /var/www
        user: "1000:1000"
        environment:
            - COMPOSER_HOME=/tmp/composer
        volumes:
            - .:/var/www
        networks:
            - app-network
        depends_on:
            - db

    nginx:
        image: nginx:alpine
        container_name: buy_local_nginx
        restart: unless-stopped
        ports:
            - "8000:80"
        volumes:
            - .:/var/www
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app
        networks:
            - app-network

    reverb:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: buy_local_reverb
        restart: unless-stopped
        working_dir: /var/www
        user: "1000:1000"
        command: php artisan reverb:start
        volumes:
            - .:/var/www
        depends_on:
            - app
        networks:
            - app-network
        ports:
            - "6001:6001"

    queue:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: buy_local_queue
        restart: unless-stopped
        working_dir: /var/www
        user: "1000:1000"
        command: php artisan queue:work
        volumes:
            - .:/var/www
        depends_on:
            - app
        networks:
            - app-network

    db:
        image: mysql:8
        container_name: buy_local_db
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: laravel
            MYSQL_USER: laravel
            MYSQL_PASSWORD: secret
        ports:
            - "3306:3306"
        volumes:
            - db_data:/var/lib/mysql
        networks:
            - app-network

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: buy_local_phpmyadmin
        restart: unless-stopped
        ports:
            - "8080:80"
        environment:
            PMA_HOST: db
            PMA_PORT: 3306
            MYSQL_ROOT_PASSWORD: root
        depends_on:
            - db
        volumes:
            - phpmyadmin_sessions:/sessions
        networks:
            - app-network

volumes:
    db_data:
    phpmyadmin_sessions:

networks:
    app-network:
        driver: bridge